# Node
node_modules/
package-lock.json

# Env
.env

# IDE
.vscode/

# Logs
logs/
*.log

# Playwright
playwright-report/
playwright/playwright-report/
test-results/
playwright/test-results/
trace.zip

# Cypress
cypress/videos/
cypress/screenshots/

# WDIO
allure-results/
allure-report/
screenshots/
wdio-TAF/screenshots/
wdio-TAF/test-results/
wdio-logs/
